* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
}

nav {
  /* background-color: #EF7D19; */
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav ul li {
  padding-left: 16px;
  list-style-type: none;
}
body {
  background-color: blueviolet;
}

section {
  display: flex;
}

p,h1,h3,h2  {
  color: white
}

.divs_centrais{ 
   background-image: url(./img/bg_laranja.jpg);
   height: 150px;
   width: 200px;
}
