
body {
    background-color: azure;
}

section {
    width: 400px;
    
}

section div {
    background-color: white;
}
section div img  {
    width: 300px;
    height: 200px;
}

section div img p {
    font-weight: 800;
}

